
      <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">CX Data Analyst</h3>
                    <div class="subheading mb-3">Iplan</div>
                    <p>Responsable de  medir y analizar la eficiencia en la atención para mejorar y optimizar la experiencia de cliente para la unidad de negocio B2B.</p>
                        <p>Soporte al equipo de Transformación Digital para el desarrollo de herramientas de gestión y automatización de procesos.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2022 - Actualmente</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Socio Fundador</h3>
                    <div class="subheading mb-3">Rio Siempre</div>
                    <p>Creación y diseño de productos encuadernados y digitales.
                         Desarrollo de herramientas para procesos de gestión interna y administración de Tienda Online.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2017 - Actualmente</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Business Analyst</h3>
                    <div class="subheading mb-3">Atento Argentina in behalf of Google</div>
                    <p>Definir, analizar y comunicar métricas clave y tendencias de negocios para el equipo de ventas.</p>
                       <p>Realización de proyecciones económicas y de rendimiento, simulaciones de escenarios, series de tiempos, regresiones y correlaciones.
                        Análisis proactivo y colaboración con el equipo para detectar áreas de mejora, Insights, oportunidades y necesidades de negocio.
                        </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2021 - 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Reporting Analyst</h3>
                    <div class="subheading mb-3">Telmark S.A & BPO Services</div>
                    <p>Análisis de datos y seguimiento de KPIs. 
                        Creación de informes y dashboards en vivo para gestión en tiempo real.
                        Desarrollo de herramientas administrativas. Automatización de tareas. Organización de flujo de trabajo.
                        </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2010 - 2021</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />