
      <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Objetivos</h2>
            <p>Me apasiona crear. Sea un diseño nuevo o una herramienta informática, busco siempre innovar, superarme y entregar soluciones prácticas.</p>
            <p class="mb-0">Hice el secundario técnico con orientación en electromecánica, estudié inglés y francés. 
                Durante un año fui estudiante de intercambio en Austria, donde aprendí alemán y la cultura del país.
                Estudié diseño de Imagen, sonido, producción musical y varios otros cursos de arte y desarrollo creativo.
                En estos últimos años desarrollé una gran afinidad por la ciencia de datos.
                </p>
        </div>
    </section>