
<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Proyectos & Desarrollos</h2>

        <div class="card-group">
            <ul id="lista1">
                <li>
                    <div class="card">
                        <h5 class="card-header">DATA</h5>
                        <div class="card-body">
                            <img src="../assets/img/placeholder-image.jpg" class="card-img-top" alt="...">
                          <h5 class="card-title">Special title treatment</h5>
                          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </li>
                <li>
                    <div class="card">
                        <h5 class="card-header">PROGRAMING</h5>
                        <div class="card-body">
                            <img src="../assets/img/placeholder-image.jpg" class="card-img-top" alt="...">
                          <h5 class="card-title">Special title treatment</h5>
                          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </li>
            </ul>
        </div>

        
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fa-solid fa-code"></i></span>
                Desarrollo de portfolio
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-hand-point-up"></i></span>
                Programa de puntos para fidelización de clientes.[Appsheet + Gforms] #data
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-tv"></i></span>
                Dashboard Capitulos "The Simpson".[Powe BI + SQL] #data
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-record-vinyl"></i></span>
                Demo "Egoysta" #music
            </li>
        </ul>
    </div>
</section>