
<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Proyectos & Desarrollos</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fa-solid fa-code"></i></span>
                Desarrollo de portfolio
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-hand-point-up"></i></span>
                Programa de puntos para fidelización de clientes.[Appsheet + Gforms] #data
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-tv"></i></span>
                Dashboard Capitulos "The Simpson".[Powe BI + SQL] #data
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-record-vinyl"></i></span>
                Demo "Egoysta" #music
            </li>
        </ul>
    </div>
</section>