<section class="resume-section" id="education">
    
            <div class="resume-section-content">
                <h2 class="mb-5">Educación</h2>
                <ul class="list-group">
                    <li *ngFor="let education of educationList">
                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
                                <h3 class="mb-0">{{education.title}}</h3>
                                <div class="subheading mb-3">{{education.institution}}</div>
                                <div>{{education.description}}</div>
                                <p>{{education.degree}}</p>
                            </div>
                            <div class="flex-shrink-0"><span class="text-primary">{{education.start}} - {{education.end}}</span></div>
                        </div>
                     </li>
                </ul>

            </div>
        </section>
        <hr class="m-0" />