<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Hard & Soft Skills</h2>
        <div class="subheading mb-3">#programing</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-java"></i></li>
            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>

        </ul>
        <div class="subheading mb-3">#data</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fa-solid fa-database"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-file-excel"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-google-drive"></i></li>
            <li class="list-inline-item"><i class="fa-light fa-file-spreadsheet"></i></li>

        </ul>
        <div class="subheading mb-3">#desing</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-java"></i></li>
            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
        </ul>
        <div class="subheading mb-3">#audio</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-java"></i></li>
            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
        </ul>
        <div class="subheading mb-3">#idiomas</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Inglés fluido
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Alemán intermedio
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Francés básico
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />